*{ box-sizing: border-box; margin: 0px; padding: 0px;}

/* --------------------------------Header css start-------------------------------------- */

.header {
    width: 100%;
    border: 1px solid;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    /* align-content: center; */
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: white;
}

.header .logo {

    border: 1px solid;

    
    
}

.header .nav {

    border: 1px solid;
    text-align: center;
    font-family: sans-serif;
    /* align-content: center; */
}

.header .fa-bars{
    display: none;
}


.header .nav .menu {
    list-style: none;
    color: black;
    font-size: 14px;
    display: inline;
    border: 2px solid purple;
    text-transform: uppercase;
    margin: 0px 20px;
    padding: 20px 0px;
    position: relative;

}

.header .nav .menu .fa-angle-down { margin-left: 8px;}

.header .nav .menu .a1 { 
    text-decoration: none;
    color: black;
    
}



.header .nav .menu .a1:after {content: ' \02C5';}


.header .nav .menu:hover .a1 {color:  #91ad41;}
.header .nav .menu:hover .fa-angle-down {color:  #91ad41;}


.header .nav .menu .sub {
    
    position: absolute;
    top: 100%;
    left: 0px;
    background: white;
    display: none;
    z-index: 1;
    border-top: 2px solid;
    color: #91ad41;
    
}

.header .nav .menu .sub li {
    list-style: none;
    width: 200px;
    text-align: left;
    padding: 10px;
}

.header .nav .menu .sub li a {
    color: black; 
    text-decoration: none;
}
.header .nav .menu .sub li:hover a{ 
    color: #91ad41;
}
.header .nav .menu:hover .sub{ 
    display: block;
}



.header .nav .menu .dropdown {
    position: absolute;
    top: 100%;
    /* right: 0px; */
    right: -480px;
    background: white;
    display: none;
    z-index: 1;
    border-top: 2px solid;
    color: #91ad41;
    background-color: lightblue;
    width: 1240px;
}



.header .nav .menu .dropdown li {
    list-style: none;
    width: 200px;
    text-align: left;
    padding: 10px;
}

.header .nav .menu .dropdown li a {
    color: black; 
    text-decoration: none;
}
.header .nav .menu .dropdown li:hover a{ 
    color: #91ad41;
}
.header .nav .menu:hover .dropdown{ 
    display: block;
}


.header .nav .menu .dropdown .p1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid;
    background: url(../images/oar1-pagemenu-bg.webp) ;
 
    background-size: cover;
}


.header .header-right {

    border: 1px solid;
    
    text-align: center;
    font-size: 22px;
}



.header .header-right a{ 
    margin: 0px 5px; 
    text-decoration: none; 
    color: black;
}

.header .header-right .fa-bars{
    display: inline-block;
}
.header .header-right a .fa-bag-shopping {
    position: relative;
}

.header .header-right a span { 
    position: absolute; 
    top: -6px;
    right: -4px;
    color: white;
    width: 13px;
    height: 13px;
    font-size: 8px;
    border-radius: 50%;
    background: black;
    padding: 2px;
}


/* --------------------------------Header css end-------------------------------------- */



/* --------------------------------Slider css start-------------------------------------- */

.slider {
    
    background: url(../images/oar1-sl1_1944x.webp) no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    position: relative;
     height: 600px; 
     margin-top: 100px;
    border: 2px solid ; 
    /* display: grid;
    grid-template-columns: 1fr 1fr; */

}

.slider .text {
    position: absolute;
    top: 108px;
    left: 95px;
    text-align: center;
    border: 1px solid;
}

.slider .text img { height: 100%; width: 100%;}

.slider .text p { 
    color: #8d8d99;
    text-align: center;
}

.slider .text button {
    background-color: #91ad41;
    color: white;
    border-radius: 10px;
    margin: 10px 0px;
    border: none;
    padding: 15px 25px;
    text-transform: uppercase;
}

.slider .text button:hover {
    background-color: white;
    color: #8d8d99;
    border: 1px solid #8d8d99;
    transition: .5s;
}

/* --------------------------------Slider css start-------------------------------------- */


/* --------------------------------About container css start-------------------------------------- */


.container {
    display: grid;
    grid-template-rows: 2fr 2fr;
    border: 1px solid red;
    padding: 15px;
    background: url(../images/oar2-bg_who-we-are_1.webp) no-repeat;
    background-size: 100% 100%;

}

.container .about{
    border: 2px solid;
    padding: 10px;
    font-family:'streamster', sans-serif;
}

.container .about .about-rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid coral;
    padding: 20px;
}

.container .about .about-rows .box {
    border: 2px solid magenta;
    padding: 15px;
    text-align: center;
}

.container .about .about-rows .box h4{
    font-weight: bold;
    font-family: 'poppins';
    margin:10px 0px;
    padding: 0px;
    text-align: center;
}

.container .about .about-rows .box p{
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    width: 85%;
}

.container .about h3 {
    font-family:'streamster', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    color: #91ad41;
}

.container .about h1 {
    font-family:'poppins', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px 0px 22px 0px;
    background: url(../images/oar1_ico_title_150x.webp);
    /* background-size: 100% 100%; */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.container .about p {
    font-family:'poppins', sans-serif;
    text-align: center;
    margin: 20px auto;
    /* padding: 0px 30px; */
    color: #8d8d99;
    width: 55%;
    border: 1px solid;
    font-weight: normal;
    letter-spacing: 1px;

}

.container .bottom{
    border: 2px solid coral;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .bottom .bottom-right {
    border: 1px solid;
    padding: 30px;
    align-content: center;

}


.container .bottom .bottom-right h1 {
    font-family:'poppins', sans-serif;
    
    margin: 0px;
    padding: 0px 0px 22px 0px;
    background: url(../images/oar1_ico_title_150x.webp);
    /* background-size: 100% 100%; */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.container .bottom .bottom-right h3 {
    font-family:'streamster', sans-serif;
    letter-spacing: 3px;
    margin: 0px;
    padding: 0px;
    color: #91ad41;
}

.container .bottom .bottom-right p {
    font-family:'poppins', sans-serif;
    text-align: center;
    margin: 20px 0px;
    /* padding: 0px 30px; */
    color: #8d8d99;
    width: 100%;
    border: 1px solid;
    font-weight: normal;
    letter-spacing: 1px;

}



.container .bottom .bottom-right button {
    background-color: #91ad41;
    color: white;
    border-radius: 10px;
    margin: 10px 0px;
    border: none;
    padding: 15px 25px;
    text-transform: uppercase;
}

.container .bottom .bottom-right button:hover {
    background-color: white;
    color: #8d8d99;
    border: 1px solid #8d8d99;
    transition: .2s;
}

.container .bottom .bottom-left {
    border: 1px solid;
   
 
}

.container .bottom .bottom-left img {
    /* padding: 10px; */
    width: 100%;
    height: 100%;

}

/* --------------------------------About container css end-------------------------------------- */


/* --------------------------------detox container css start-------------------------------------- */

.detox-container {
    width: 100%;
    background: url(../images/oar-bg-about-deal.png) no-repeat;
    background-size:135% 135%;
    background-color: #f7eee2;
    background-position: center;
   /*  padding: 30px; */
    margin-top: 30px;
}

.detox-container h3 {
    font-family:'streamster', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    color: #91ad41;
    font-size: 22px;
}

.detox-container h1 {
    font-family:'poppins', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px 0px 22px 0px;
    background: url(../images/oar1_ico_title_150x.webp);
    /* background-size: 100% 100%; */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    font-size: 35px;
}

.detox-container p {
    font-family:'poppins', sans-serif;
    text-align: center;
    margin: 20px auto;
    /* padding: 0px 30px; */
    color: #8d8d99;
    width: 55%;
    border: 1px solid;
    font-weight: normal;
    letter-spacing: 1px;

}

.detox-container .recipe {
    border: 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.detox-container .recipe .left {
    border: 2px solid green;
    position: relative;
   
}

/* .detox-container .recipe .left .text-top {position: relative;} */

.detox-container .recipe .left .text-top .text {
    position: absolute;
    top: 130px;
    left: 0px;
}

.detox-container .recipe .left .text-top .img {
    position: absolute;
    top: 132px;
    right: -142px;
    transition: .5s;
}

.detox-container .recipe .left .text-top .img:hover { transform: scale(1.1);}


.detox-container .recipe .left .text-btm {position: relative;}

.detox-container .recipe .left .text-btm .text {
    position: absolute;
    top: 315px;
    right: 25px;
}

.detox-container .recipe .left .text-btm .img {
    position: absolute;
    top: 317px;
    right: -100px;
    transition: .5s;
}
.detox-container .recipe .left .text-btm .img:hover { transform: scale(1.1);}


.detox-container .recipe .left h4 {
    font-family: 'poppins' , sans-serif;
    text-align: right;
    font-weight: 100;
}
.detox-container .recipe .left p { margin: 0px; 
    padding: 0px; 
    width: 100%; 
    text-align: right;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 0px;
}

.detox-container .recipe .center {
    border: 2px solid red;
    text-align: center;
    
}

/* .detox-container .recipe .center img {
    border: 2px solid red;
    width: 100%;
    height: 100%;
         
} */

.detox-container .recipe .right {
    border: 2px solid blue;
    
}


.detox-container .recipe .right .text-top {position: relative;}

.detox-container .recipe .right .text-top .text {
    position: absolute;
    top: 130px;
    left: 0px;
}

.detox-container .recipe .right .text-top .img {
    position: absolute;
    top: 132px;
    left: -142px;
    transition: .5s;
}

.detox-container .recipe .right .text-top .img:hover { transform: scale(1.1);}


.detox-container .recipe .right .text-btm {position: relative;}

.detox-container .recipe .right .text-btm .text {
    position: absolute;
    top: 315px;
    left: 25px;
}

.detox-container .recipe .right .text-btm .img {
    position: absolute;
    top: 317px;
    left: -100px;
    transition: .5s;
}


.detox-container .recipe .right .text-btm .img:hover { transform: scale(1.1);}


.detox-container .recipe .right h4 {
    font-family: 'poppins' , sans-serif;
    text-align: left;
    font-weight: 100;
}
.detox-container .recipe .right p { margin: 0px; 
    padding: 0px; 
    width: 100%; 
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 0px;
}


.detox-container .recipe .center button {
    background-color: #91ad41;
    color: white;
    border-radius: 10px;
    margin: 10px 0px;
    border: none;
    padding: 15px 25px;
    text-transform: uppercase;
    
}

.detox-container .recipe .center button:hover {
    background-color: white;
    color: #8d8d99;
    border: 1px solid #8d8d99;
    transition: .5s;
}



/* --------------------------------detox container css end-------------------------------------- */