@media(max-width:500px)
{
    .header {
        grid-template-columns: 1fr;
    }
    .header .logo { text-align: center; 
        margin: 15px 0px;
    }
    .header .logo img { 
        width: 30%; 
    }
    .header .fa-bars{ 
        display: block;
        /* width: 100%; */
        text-align: center;
        cursor: pointer;

        
    }
    .slider .text img { 
        height: 30%; 
        width: 30%;
    }

    .header .header-right { 
        margin-top: 15px;
    }

    .header .nav { display: none;}
    

    .slider { 
        background-size:cover; height: 300px;
    }
    .slider .text {
        top: 140px;
        left: 0px; 
        text-align: left; 
        
        padding-left: 100px;}
    .slider .text p { display: none;}
    .slider .text button { 
        margin: 10px 0px; 
        padding: 10px 20px; 
        font-size: 12px;
    }

    .container .about .about-rows {grid-template-columns: 1fr 1fr;}
    .container .about p{ margin: 10px auto;}

    .container .bottom{grid-template-columns: 1fr;}

    .container .bottom .bottom-right h1 { font-size: 20px;}

    .container .bottom .bottom-right h3 { font-size: 16px;}
   
    .container .bottom { padding: 10px;}


    .detox-container .recipe {
        grid-template-columns: 1fr;
        padding: 10px;
        
        grid-template-rows: 1fr 1fr 1fr;
        
    }

    .detox-container .recipe .center img { width: 80%; height: 80%;}
    .detox-container .recipe .right .text-top .img:hover { transform: scale(1);}
    .detox-container .recipe .left .text-top .img:hover { transform: scale(1);}
    .detox-container .recipe .right .text-btm .img:hover { transform: scale(1);}
    .detox-container .recipe .left .text-btm .img:hover { transform: scale(1);}
    .detox-container .recipe .left .text-top .text {
        top: 0px;
        left: 130px;
       /*  text-align: right; */
    }
    
    .detox-container .recipe .left .text-top .img {
        top: 0px;
        left: 0px;
        width: 25%;
        border: 1px solid;
    }
    .detox-container .recipe .left h4 { text-align: left;}
    .detox-container .recipe .left p { width: 80%; 
        text-align: left;}


        .detox-container .recipe .left .text-btm .text {
            top: 150px;
            left: 130px;
           /*  text-align: right; */
        }
        
        .detox-container .recipe .left .text-btm .img {
            /* position: absolute; */
            top: 150px;
            left: 0px;
            width: 25%;
            /* transition: .5s; */
        }




        .detox-container .recipe .right .text-top .text {
            top: 0px;
            left: 130px;
           /*  text-align: right; */
        }
        
        .detox-container .recipe .right .text-top .img {
            /* position: absolute; */
            top: 0px;
            left: 0px;
            width: 25%;
            /* transition: .5s; */
        }
        .detox-container .recipe .right h4 { text-align: left;}
        .detox-container .recipe .right p { width: 80%; 
            text-align: left;}
    
    
            .detox-container .recipe .right .text-btm .text {
                top: 150px;
                left: 130px;
               /*  text-align: right; */
            }
            
            .detox-container .recipe .right .text-btm .img {
                /* position: absolute; */
                top: 150px;
                left: 0px;
                width: 25%;
                border: 1px solid;
                /* transition: .5s; */
            }


            .product-contaner .nav li { margin-right: 8px; font-size: 14px;}

            .product-contaner .products {
                grid-template-columns: 1fr 1fr;
            }

            .product-contaner .products .box .hover-icons { width: 67%;
                bottom: 166px;
                left: 35px;
            }

            .smoothie-container .smoothie-container-top{
               
                grid-template-columns: 1fr;
            }

            .smoothie-container .smoothie-container-btm{
                grid-template-columns: 1fr 1fr;
            }

            .blog .blog-box {
                grid-template-columns: 1fr;
                
            }

            .application { grid-template-columns: 1fr;}

            .testimonial .box-container{ grid-template-columns: 1fr;}

            
.testimonial {    grid-template-rows: 1fr 1fr;}
            .testimonial .testimonial-top .box-container{ grid-template-columns: 1fr;}

            .testimonial .testimonial-btm { grid-template-columns: 1fr 1fr;}
      
}


